.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App p {
  text-align: center;
}

.App-header {
  width: 100%;
  height: 64px;
  background-color: chocolate;
}

.App-main {
  display: flex;
  flex: 1;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
}

.App-footer {
  width: 100%;
  height: 64px;
  background-color: chocolate;
}